<%- include('../../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../../includes/menu'); %>

        <main class="checkout">
            <h1>Failure</h1>
        </main>

    </body>
<%- include('../../../includes/footer'); %>