<%- include('../../includes/header'); %>

    <body>

        <%- include('../../includes/menu'); %>

        <main class="content">

            <h1 class="content__title"><%= pageTitle %></h1>

            <form class="form" method="POST" action="/edit-profile">

            </form>

        </main>

    </body>
        
<%- include('../../includes/footer'); %>