@use "../../partials/branding" as branding;
@use "../../partials/animations" as animations;

.login{
    display : flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin: auto;
    max-width: 400px;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        max-width: 350px;
        grid-row-gap: 1rem;
    }

    &__field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__label{
        color: white;

        &--error{
            color: pink;
        }
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
        border: 0;
        background-color: white;
        box-shadow: branding.$button_shadow;
        transition: animations.$standard_transition;
        font-size: 1rem;

        &--error{
            border-color: pink;
            background-color: pink !important;
        }
    }

    &__reset-link{

        color: white;
        margin: 1rem auto auto auto;
    }
}