@use "../../partials/branding" as branding;
@use "../../partials/animations" as animations;
@use "../../partials/mixins" as mixins;

.password-reset{
    display : flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin: auto;
    color: white;
    text-align: center;

    a{
        color: white;
        border-bottom: 2px solid white;
        margin-bottom: 0.1rem;
        transition: animations.$standard_transition;

        @include mixins.state{

            color: branding.$brand_color_one;
            border-color: branding.$brand_color_one;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 350px;
        grid-row-gap: 1rem;
        margin: auto;
    }

    &__field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__label{
        color: white;
        text-align: left;

        &--error{
            color: pink;
        }
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
        border: 0;
        background-color: white;
        box-shadow: branding.$button_shadow;
        transition: animations.$standard_transition;
        font-size: 1rem;

        &--error{
            border-color: pink;
            background-color: pink !important;
        }
    }
}