// Import our components, we're now using @use instead of import
// Lib sass and node-sass have been deprecated. So the library sass must be used for this
// In order to install it, run npm install sass --save-dev
// You must also make sure that you're not running the gulp-concat package as that will spoil your imports
// Without gulp-concat, you can use @use on multiple files
// I will be importing the scss files below

// Reusable components
@use "../sass/components/components";
@use "../sass/components/card";

// Globals
@use "../sass/globals/globals.scss";

// Import the scss files
/*
@import "../sass/partials/animations";
@import "../sass/partials/branding";
@import "../sass/partials/fonts";
@import "../sass/partials/mixins";
@import "../sass/partials/responsive"; */

/*
// Pages
@import "../sass/pages/Shop.scss"; 
@import "../sass/pages/Cart.scss";
@import "../sass/pages/AddProduct.scss";
@import "../sass/pages/Orders.scss";
@import "../sass/pages/ProductDetail.scss"; 
*/

@use "../sass/pages/Shop.scss";
@use "../sass/pages/AddProduct.scss";

// Import the google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 


