@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$brand_color_one: #dbc441;
$brand_color_two: #6200ff;

@keyframes fade-in{ 
    0%{ opacity: 0; } 
    100%{ opacity: 1; } 
}

body{ 
    margin: 0px;
    margin-top: 60px; 
    animation: fade-in 0.2s linear;
    font-family: "Open Sans";
}

nav{    
    width: 100%;    
}

ul{ 
    list-style-type: none; 
}  

a{ 
    text-decoration: none;
    color:rgba(0, 0, 0, 0.9); 
    transition: all 0.3s linear;
}

a:hover{ 
    color: $brand_color_two; 
}

h1{
    margin: 0;
}

.page-title{ 
    margin: 0;
}

.header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 15px 0px $brand_color_one;
    display: flex;
    align-items: center;
    background: $brand_color_one;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.content{
    padding: 1rem;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.content__form{
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
}

.content__input{
    box-shadow: 0px 0px 5px 0px $brand_color_one;
    border: 1px solid $brand_color_one;
    border-radius: 3px;
    padding: 0.25rem;
}

.content__button{
    box-shadow: 0px 0px 5px 0px $brand_color_one;
    background: $brand_color_one;
    border: 1px solid $brand_color_one;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.content__button:hover{
    background: $brand_color_two;
    box-shadow: 0px 0px 5px 0px $brand_color_two;
    border-color: $brand_color_two;
    color: white;
}