@use "../../partials/branding" as branding;
@use "../../partials/animations" as animations;

.login{
    display : flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin: auto;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        max-width: 350px;
        grid-row-gap: 1rem;
    }

    &__field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.1rem;
    }

    &__label{
        color: white;
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
        border: 0;
        background-color: white;
        box-shadow: branding.$button_shadow;
        font-size: 1.1rem;
        transition: animations.$standard_transition;

        &:-webkit-autofill, &:-webkit-autofill::first-letter{
            font-size: 1rem;
        }

        &:-webkit-autofill:hover, &:-webkit-autofill:focus{
            font-size: 1rem;
        }
    }
}