@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;
@use "../scss/partials/animations" as animations;

.button{
    overflow : hidden;
    position : relative;
    z-index : 1;
    padding : 0.45rem 1rem 0.4rem 1rem;
    border-radius: 4px;
    border: 0;
    color: branding.$brand_color_three;
    width: max-content;
    margin: auto;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: 2px solid branding.$brand_color_three;
    transition: animations.$standard_transition;
    background: transparent;
    filter: contrast(90%);
    display: flex;

    &--yellow{
        @include mixins.backgroundGradientEffect(){
            background : branding.$gradient_color_one;
        }
    }

    &--center{
        margin: auto;
    }

    @include mixins.state(){
        cursor: pointer;
        filter: contrast(150%);
        box-shadow: branding.$box_shadow_blue;
    }
}