@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;

.button{
    overflow : hidden;
    position : relative;
    z-index : 1;
    padding : 0.25rem 0.75rem;
    border-radius: 4px;
    border: 0;
    box-shadow: branding.$box_shadow_yellow;
    width: max-content;
    margin: auto;

    &--yellow{
        @include mixins.backgroundGradientEffect(){
            background : branding.$gradient_color_one;
        }
    }
}