@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/animations" as animations;

.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(920px + 2rem);
    grid-gap: 1rem;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 33%;
    box-shadow: branding.$box_shadow_cyan;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color:rgba(0, 0, 0, 0.9); 

    @include responsive.breakpoint(tablet){
        width: 100%;
    }

    &__img{
        object-fit : cover;
        height: 150px;
    }

    @include mixins.backgroundGradientEffect(){
        background: branding.$gradient_color_three;
    }

    &__title{
        text-align: center;
        font-size: 1.2rem;
    }

    &__desc{
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    &__price{
        text-align: center;
        font-size: 1.1rem;
        padding-top: 0.5rem;
    }

    &__forms{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: auto auto 1rem auto;
        justify-content: space-evenly;
        width: 100%;
    }

    &__form{
        height: 100%;
        display: flex;
    }

    &__buttons{
        display: flex;
        margin-top: auto;
        margin-bottom: 1rem;
        width: 100%;
        margin-top: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    &__button{
        width: max-content;
        cursor: pointer;
        transition: animations.$standard_transition;
        border: none;
        border-radius: 4px;
        padding: 0.4rem 1rem;
        box-shadow: branding.$button_shadow;
        font-size: 15px;
        filter: contrast(95%);
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: white;
        margin: 0;

        @include mixins.backgroundGradientEffect(){
            background: branding.$gradient_color_five;
        }

        @include mixins.state(){
            filter: contrast(120%);
            color: white;
        }
    }
}