@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/animations" as animations;

.modal{

    max-width: 400px;
    width: calc(100% - 2rem);
    background: branding.$brand_color_five__alt_6;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    box-shadow: branding.$button_shadow;
    margin: 0 auto 1rem auto;
    color: branding.$brand_color_five__alt_2;

    &--error{
        color: branding.$brand_color_seven__alt_2;
        background: branding.$brand_color_eight;
    }
}