@use "../partials/branding" as branding;
@use "../partials/animations" as animations;
@use "../partials/mixins" as mixins;

.form{
    display : flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2rem);
    max-width: 350px;
    margin: auto;
    grid-row-gap: 1rem;
    z-index: 1;
    position: relative;

    &__page-title{
        font-size: 1.25rem;
        text-align: center;
    }

    &__title{
        text-align: center;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 350px;
        grid-row-gap: 1rem;
        margin: auto;
    }

    &__field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    &__label{
        color: white;
        margin-bottom: 0.15rem;

        &--error{
            color: pink;
        }
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
        border: 0;
        background-color: white;
        box-shadow: branding.$button_shadow;
        transition: animations.$standard_transition;
        font-size: 1rem;

        &--error{
            border-color: pink;
            background-color: pink !important;
        }
    }

    &__file-upload{
        border-radius: 4px;
        color: white;
        font-size: 1rem;

        &::file-selector-button{
            border-radius: 3px;
            border: 0px solid white;
            padding: 0.4rem 0.5rem;
            margin-right: 0.5rem;
            box-shadow: branding.$button_shadow;
            cursor: pointer;
            transition: animations.$standard_transition;

            @include mixins.state(){
                background: branding.$brand_color_six;
            }
        }
    }

    &__submission-text{

        color: branding.$brand_color_five;
        text-align: center;
        font-size: 1.35rem;

        &--error{
            color: white;
            background-color: red;
            border-radius: 5px;
            padding: 0.35rem 0;
            width: 100%;
        }
    }

    &__reset-link{

        color: white;
        margin: 1rem auto auto auto;
        border-bottom: 2px solid white;
        transition: animations.$standard_transition;

        @include mixins.state{
            border-color: branding.$brand_color_three;
        }   
    }
}