.cart{
    width: calc(100% - 4rem);
    display: flex;
    color: white;
    max-width: 40rem;
    padding: 2rem 1rem;
    position: relative;
    border: 1px solid $brand_color_one;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: $box_shadow;
    justify-content: center;
    margin: 1rem auto;

    &__header{
        text-align: center;
        margin: 0.25rem auto;
    }

    &__modal-row{
        display: flex;
        flex-direction: row;

        p{
            width: calc(100% / 3);
            text-align: center;
        }
    }

    &__modal-rows{
        padding-left: 0;
    }

    &__modal-header{
        display: flex;
        flex-direction: row;

        p{
            width: calc(100% / 3);
            text-align: center;
        }
    }

    &__checkout{
        margin: auto;
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: row;
        justify-content: space-between;

        @include breakpoint(tablet){
            padding-left: 1rem;
            padding-right: 1rem;
        }
    } 

    &__checkout-button{
        font-size: 1rem;
        box-shadow: 0px 0px 7px 0px $brand_color_one;
        background: $brand_color_one;
        border: 1px solid $brand_color_one;
        border-radius: 3px;
        padding: 0.3rem 0.75rem;
        cursor: pointer;
        transition: all 0.3s linear;
        filter: contrast(95%);

        @include state(){
            filter: contrast(120%);
        }
    }
}