.orders{
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

    &__header{
        text-align: center;
        width: 100%;
    }

    &__details{
        color : white;
        display : flex;
        flex-direction : column;
        max-width: 400px;
        margin: auto;
        grid-row-gap: 1rem;
    }

    &__row{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        grid-column-gap: 2rem;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        border-radius: 2px;

        &:nth-child(odd){
            color: black;
            box-shadow: $box_shadow_yellow;

            @include backgroundGradientEffect{
                background: $gradient_color_one;
            }
        }
    }

    &__product-details{
        display: flex;
        justify-content: space-between;
    }

    &__row-item{
        width: 100%;

        &--title{
            font-size: 1.1rem;
        }

        &--total{
            text-align: right;
        }

        &--date{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__empty{
        text-align: center;
        margin-top: 2rem;
    }
}