.orders{
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

    &__details{
        color : white;
        display : flex;
        flex-direction : column;
    }

    &__row{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        grid-column-gap: 2rem;
        justify-content: space-between;
    }

    &__items{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    &__price{
        display: flex;
        align-items: center;
    }

    &__product{
        display: flex;
        flex-direction: row;
        grid-column-gap: 0.5rem;
    }

    &__product-details{
        display: flex;
        justify-content: space-between;
    }
}