.card{

    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: $box_shadow;
    border-radius: 4px;

    &__title{
        text-align: center;
        font-size: 1.5rem;
    }

    &__img{

    }

    &__desc{
        padding: 0.5rem 1rem;
    }

    &__button{
        width: max-content;
        margin: 0.5rem auto 1.5rem auto;
        cursor: pointer;
        transition: $standard_transition;
        background: $brand_color_one;
        border: none;
        border-radius: 4px;
        padding: 0.4rem 1rem;
        box-shadow: $yellow_box_shadow;
        font-size: 1rem;
        filter: contrast(95%);

        @include state(){
            filter: contrast(120%);
        }
    }
}