@use "../../partials/branding" as branding;
@use "../../partials/animations" as animations;
@use "../../partials/mixins" as mixins;
@use "../../partials/responsive" as responsive;

.live-chat{
    width: 100%;

}