<%- include('../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">
            <h1 class="content__title">Checkout</h1>
        </main>

    </body>
<%- include('../../includes/footer'); %>