<%- include('../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">

            <% if (hasProducts !== true) { %>

                <h1 class="content__title">Checkout</h1>

            <% }else{ %>

                <div>
                    <h1>Your cart is empty, consider purchasing some?</h1>
                    <a href="/products?page=1" target="_blank" class="content__link">Go to Products</a>
                </div>

            <% } %>

        </main>

    </body>
<%- include('../../includes/footer'); %>