@use "../../../scss/partials/responsive" as responsive;
@use "../../../scss/partials/animations" as animations;
@use "../../../scss/partials/mixins" as mixins;
@use "../../../scss/partials/branding" as branding;

.product-detail{

    position: relative;
    max-width: 350px;
    color: white;
    display : flex;
    margin : auto;
    height : 100%;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    z-index: 2;

    @include responsive.breakpoint(tablet){
        max-width: 100%;
        width: calc(100% - 2rem);
        padding: 0 1rem;
    }

    &__back-wrapper{
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: row;
        grid-gap: 0.5rem;
        transition: none;

        svg, p{
            transition: animations.$standard_transition;
        }

        @include mixins.state(){

            p{
                color: branding.$brand_color_three;
            }

            svg{
                fill : branding.$brand_color_three;
                stroke : branding.$brand_color_three;
            }
        }
    }

    &__title{
        text-align: center;
    }

    &__description{
        text-align: center;
    }

    &__price{
        text-align: center;
    }

    &__back-arrow{

    }

    &__image{
        width: 100%;
    }

    &__article{
        width: 100%;
    }
}