<%- include('../../includes/header'); %>

    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">

            <h1 class="content__title"><%= pageTitle %></h1>

            <ul class="live-chat" id="messages">

            </ul>

            <form class="chat-form" method="POST" enctype="multipart/form-data" id="chatForm">

                <div class="form__field">
                    <input
                        class="chat-form__input"
                        type="text"
                        name="chatInput"
                        id="chatInput"
                        placeholder="Please enter some text in the chat"
                        required
                    />
                </div>
                
                <button class="chat-form__button">Submit</button>

            </form>

        </main>

    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        // Instantiate our websocket here. The websocket is defined in "/src/index.ts"
        const socket = io();

        // Reference our elements
        const form = document.getElementById('chatForm');
        const input = document.getElementById('chatInput');
        const messages = document.getElementById('messages');

        // Add the event listener so the chat can listen in real time
        form.addEventListener('submit', (event) => {

            // Stop us from executing a post request once we're done
            event.preventDefault();

            // Output the input to the websocket so we can view it in our console (and potentially do something with the data)
            if (input.value) {

                // Emit the input to the websocket instead of the endpoint here
                socket.emit('chat message', input.value);
                
                // Reset our input to nothing
                input.value = '';
            }
        });

        socket.on('chat message', (message) => {

            // Get the number of items for the ID
            const numberOfItems = document.getElementsByClassName('live-chat__item');

            // Get the date for the Chatbox
            const today = new Date();

            // Get the year, month, and day
            // Get hours, minutes and seconds
            const yyyy = today.getFullYear();
            const mm = today.getMonth() + 1;
            const dd = today.getDate();       
            const hh = today.getHours();
            const ii = today.getMinutes();
            const ss = today.getSeconds();

            // Set the values for the post date by formatting
            let stringMonth = mm.toString();
            let stringDay = dd.toString();
            let stringHours = hh.toString();
            let stringMinutes = ii.toString();
            let stringSeconds = ss.toString();

            // Format details
            if (mm < 10) { stringMonth = '0' + mm.toString(); };
            if (dd < 10) { stringDay = '0' + dd.toString(); };
            if (hh < 12) { stringHours = '0' + hh.toString(); };
            if (ii < 10) { stringMinutes = '0' + ii.toString(); };
            if (ss < 10) { stringSeconds = '0' + ss.toString(); };

            // Format the date and output it in the chatbox
            const postDate = `${stringDay}/${stringMonth}/${yyyy} - ${stringHours}:${stringMinutes}:${stringSeconds}`;

            // Add the emitted message to the chat log on the page
            // We do this by creating a new element and appending it onto the list
            const item = document.createElement('li');

            // Set the text of the item in the list
            item.textContent = `${postDate} => ${message}`;

            // Set the class name for reference
            item.id = `chat-item__${numberOfItems.length + 1}`;
            item.className = "live-chat__item";

            // Add the element to the list
            messages.appendChild(item);

            // Scroll to the chat log
            window.scrollTo(0, document.body.scrollHeight);
        });
        
    </script>
    
<%- include('../../includes/footer'); %>