<%- include('../../includes/header'); %>

    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">

            <h1 class="content__title"><%= pageTitle %></h1>

            <p>Socket data</p>

        </main>

    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        // Instantiate our websocket here. The websocket is defined in "/src/index.ts"
        const socket = io();
        
    </script>
    
<%- include('../../includes/footer'); %>