<header class="header <%= isAuthenticated === true ? 'header__logged-in' : 'header__logged-out' %>" >
    <nav>
        <ul class="menu">

            <li class="menu__item">
                <a href="/">Shop</a>
            </li>

            <li class="menu__item">
                <a href="/products">Products</a>
            </li>

            <% if (isAuthenticated) { %>

                <li class="menu__item">
                    <a href="/cart">Cart</a>
                </li>

                <li class="menu__item">
                    <a href="/orders">Orders</a>
                </li>

                <li class="menu__item">
                    <a href="/admin/add-product">Add Product</a>
                </li>

                <li class="menu__item">
                    <a href="/admin/products">Admin Products</a>
                </li>

                <li class="menu__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
                
            <% } else { %>

                <li class="menu__item">
                    <a href="/signup">Signup</a>
                </li>

                <li class="menu__item">
                    <a href="/login">Login</a>
                </li>

            <% } %>

        </ul>
    </nav>
</header>