<header class="header <%= isAuthenticated === true ? 'header__logged-in' : 'header__logged-out' %>" >
    <nav>
        <ul class="menu">

            <li class="menu__item">
                <a class="menu__link" href="/products">Products</a>
            </li>

            <% if (isAuthenticated === true) { %>

                <li class="menu__item">
                    <a class="menu__link" href="/cart">Cart</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="/orders">Orders</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="/admin/add-product">Add Product</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="/admin/products">Admin Products</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="/profile">Profile</a>
                </li>

                <li class="menu__item">
                    <form action="/logout" method="POST" class="menu__form">
                        <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                        <input type="submit" class="menu__logout-text" value="Logout"/>
                    </form>
                </li>
                
            <% } else { %>

                <li class="menu__item">
                    <a class="menu__link" href="/signup">Signup</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link"href="/login">Login</a>
                </li>

            <% } %>

        </ul>
    </nav>
</header>