<header class="header">
    <nav>
        <ul class="menu">

            <li class="menu__item">
                <a href="/">Shop</a>
            </li>

            <li class="menu__item">
                <a href="/products">Products</a>
            </li>

            <li class="menu__item">
                <a href="/cart">Cart</a>
            </li>

            <li class="menu__item">
                <a href="/admin/add-product">Add Product</a>
            </li>

            <li class="menu__item">
                <a href="/admin/products">Admin Products</a>
            </li>

        </ul>
    </nav>
</header>