@use "../../../scss/partials/branding" as branding;
@use "../../../scss/partials/responsive" as responsive;
@use "../../../scss/partials/mixins" as mixins;

.cart{
    width: calc(100% - 3rem);
    display: flex;
    color: white;
    max-width: 40rem;
    padding: 2rem 1rem;
    position: relative;
    border: 1px solid branding.$brand_color_one;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: branding.$box_shadow;
    justify-content: center;
    margin: 1rem auto;

    @include responsive.breakpoint(tablet){
        padding: 2rem 0.5rem;
    }

    &__header{
        text-align: center;
        margin: 0.25rem auto;
    }

    &__modal-row{
        display: flex;
        flex-direction: row;
    }

    &__modal-rows{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        grid-row-gap: 0.5rem;
    }

    &__modal-column{
        width: calc(100% / 4);
        text-align: center;
    }

    &__modal-button{
        font-size: 1rem;
        box-shadow: 0px 0px 7px 0px branding.$brand_color_one;
        background: branding.$brand_color_one;
        border: 1px solid branding.$brand_color_one;
        border-radius: 3px;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        transition: all 0.3s linear;
        filter: contrast(95%);

        @include mixins.state(){
            filter: contrast(120%);
        }    
    }

    &__modal-header{
        display: flex;
        flex-direction: row;
    }

    &__empty-items{
        text-align: center;
    }

    &__checkout{
        margin: auto;
        display: flex;
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
    } 

    &__checkout-button{
        font-size: 1rem;
        box-shadow: 0px 0px 7px 0px branding.$brand_color_one;
        background: branding.$brand_color_one;
        border: 1px solid branding.$brand_color_one;
        border-radius: 3px;
        padding: 0.3rem 0.75rem;
        cursor: pointer;
        transition: all 0.3s linear;
        filter: contrast(95%);
        width: calc(100% / 4);

        @include responsive.breakpoint(mobile){
            width: calc(100% / 4);
        }

        @include mixins.state(){
            filter: contrast(150%);
            color : branding.$brand_color_two;
        }
    }

    &__checkout-text{
        width: calc(100% / 4);
        text-align: center;

        @include responsive.breakpoint(mobile){
            text-align: left;
            margin-left: 0.15rem;
            width: calc(100% / 2);
        }
    }
}