.checkout{

    max-width: 600px;
    width: calc(100% - 2rem);
    margin: auto;
    padding: 1rem 1rem;
    color: white;

    &__title{
        font-size: 1.75rem;
        text-align: center;
        margin: 0 0 1rem;
    }

    &__grid{

    }

    &__row{
        display: flex;
        justify-content: space-between;
    }
}