@use "../../../scss/partials/branding" as branding;
@use "../../../scss/partials/mixins" as mixins;

.orders{
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

    &__header{
        text-align: center;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__details{
        color : white;
        display : flex;
        flex-direction : column;
        max-width: 400px;
        margin: auto;
        grid-row-gap: 1rem;
    }

    &__row{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        grid-column-gap: 2rem;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        border-radius: 2px;
        transition: all 0.15s linear;

        @include mixins.state(){
            transform: scale(1.025);
        }

        &:nth-child(odd){
            color: black;
            box-shadow: branding.$box_shadow_blue;

            @include mixins.backgroundGradientEffect{
                background: branding.$gradient_color_three;
            }
        }
    }

    &__product-details{
        display: flex;
        justify-content: space-between;
    }

    &__row-item{
        width: 100%;

        &--title{
            font-size: 1.1rem;
        }

        &--total{
            text-align: right;
        }

        &--name{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &--date{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &--download{
            color: branding.$brand_color_five__alt_2;
            border-bottom: 2px solid transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: max-content;
            grid-gap: 0.25rem;
            margin: 0;

            @include mixins.state(){
                color: branding.$brand_color_five;
                border-color: branding.$brand_color_five;
            }

            path{
                stroke: branding.$brand_color_five;

                @include mixins.state(){
                    stroke : branding.$brand_color_five;
                }
            }
        }
    }

    &__empty{
        text-align: center;
        margin-top: 2rem;
    }
}