<%- include('./includes/header'); %>
    <body class="menu-open">

        <%- include('./includes/menu'); %>

        <main class="content">
            <h1 class="content__title">Page Not Found</h1>
            <a class="content__link" href="products">Go to Products page</a>
        </main>

    </body>
<%- include('./includes/footer'); %>