<header class="header">
    <nav>
        <ul class="menu">
            <li>
                <a href="/">Shop</a>
            </li>
            <li>
                <a href="/admin/add-product">Add Product</a>
            </li>
        </ul>
    </nav>
</header>

<main class="content">
    <h1 class="page-title">Page Not Found</h1>
</main>