<%- include('layouts/header'); %>
    <body>

        <%- include('layouts/nav'); %>

        <main class="content">
            <h1 class="page-title">Page Not Found</h1>
        </main>

    </body>
<%- include('layouts/footer'); %>