<header class="header">
    <nav>
        <ul class="menu">
            <li>
                <a href="/">Shop</a>
            </li>
            <li>
                <a href="/admin/add-product">Add Product</a>
            </li>
        </ul>
    </nav>
</header>

<main class="content">
    <form action="/admin/add-product" method="POST" class="content__form">
        <input type="text" name="title" class="content__input"/>
        <button type="submit" class="content__button">Add Product</button>
    </form>
</main>
