extends layouts/layout.pug
block content
    main.content
        form.content__form(action="/admin/add-product" method="POST")
            label.content__label(for="title") Title
            input(name="title").content__input
            button.content__button(type="submit") Add Product
