<%- include('includes/head'); %>
    <body>

        <%- include('includes/navigation'); %>

        <main class="content">
            <form action="/admin/add-product" method="POST" class="content__form">
                <input type="text" name="title" class="content__input"/>
                <button type="submit" class="content__button">Add Product</button>
            </form>
        </main>

    </body>
<%- include('includes/end'); %>