<%- include(' ./includes/header'); %>
    <body>

        <%- include('./includes/menu'); %>

        <main class="content">
            <h1 class="content__title">Shop</h1>
        </main>

    </body>
<%- include('./includes/footer'); %>