<%- include('includes/header'); %>
    <body>

        <%- include('includes/menu'); %>

        <main class="shop">
            <h1>Shop</h1>
        </main>

    </body>
<%- include('includes/footer'); %>