extends layouts/layout.pug
block content
    main.content
        h1 My Products
        each product in prods
            article.card 
                h3.card__title #{product.title}
                img.card__img(src="https://picsum.photos/300/175", alt="Shop Item Logo Image")
                p.card__desc A very interesting book about so many even more interesting things!
                button.card__button Add To Cart