<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="shop">
            <h1>Shop</h1>
        </main>

    </body>
<%- include('../includes/end'); %>