<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="product-detail">
            <h1>Product Detail</h1>
        </main>

    </body>
<%- include('../includes/end'); %>