<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="cart">
            <h1>Products</h1>
        </main>

    </body>
<%- include('../includes/end'); %>