@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;

.add-product{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.3s linear;

    &__page-title{
        text-align: center;
    }

    &__form{
        max-width: 350px;
        width: 100%;
        padding: 1rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
    }

    &__label{
        color: white;
        font-size: 1.1rem;
    }

    &__field{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        grid-gap: 0.25rem;
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.1rem;
        font-size: 1.1rem;
        border: none;
        box-shadow: branding.$button_shadow;
    }
}