@use "../../../scss/partials/responsive" as responsive;
@use "../../../scss/partials/branding" as branding;
@use "../../../scss/partials/mixins" as mixins;

.edit-product{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin : auto;
    height : 100%;

    &__form{
        max-width: 350px;
        width: calc(100% - 2rem);
        margin: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-row-gap: 0.75rem;

        @include responsive.breakpoint(mobile){
            max-width: 100%;
        }
    }

    &__label{
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0.1rem;
    }

    &__input{
        font-size: 1.1rem;
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
    }

    &__field{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}