@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* 
    Background gradient effect
    This hover effect creates an efficient and smooth gradient animation
    It is currently optimized for modern browsers by avoiding repainting
    It also takes advantage of the GPU as much as possible
    To use this, pass through your linear gradient and set the z-index of the parent to at least 1
    You will also need to pass through {overflow:hidden} and {position:relative} so the gradient doesn't cover the screen
    If you want to delay this animation, pass it to the parent using an inline style
    This can be great if you're rendering a list of cards and want to delay each animation
*/
.button {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px #dbc441;
}
.button--yellow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400%;
  z-index: -1;
  will-change: transform;
  animation-name: efficient-gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: inherit;
  -webkit-animation-name: efficient-gradient;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: inherit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background: linear-gradient(60deg, #dbc441, #c5b03b, #dfca54, #e2d067);
}

/* Responsive */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes efficient-gradient {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  25% {
    transform: translate(-37.5%);
    -webkit-transform: translateX(-37.5%);
  }
  50% {
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
  }
  75% {
    transform: translateX(-37.5%);
    -webkit-transform: translateX(-37.5%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}
/*
    Slide in animation for the burger menu on the right hand side
*/
@keyframes burger-menu-slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: calc(100% - 300px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(920px + 2rem);
  grid-gap: 1rem;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 33%;
  box-shadow: 0px 0px 10px 0px #dbc441;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
.card__img {
  object-fit: cover;
  height: 150px;
}
.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400%;
  z-index: -1;
  will-change: transform;
  animation-name: efficient-gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: inherit;
  -webkit-animation-name: efficient-gradient;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: inherit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background: linear-gradient(60deg, #dbc441, #c5b03b, #dfca54, #e2d067);
}
.card__title {
  text-align: center;
  font-size: 1.5rem;
}
.card__desc {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.card__price {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.card__forms {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto auto 1rem auto;
  justify-content: space-evenly;
  width: 100%;
}
.card__form {
  height: 100%;
  display: flex;
}
.card__buttons {
  display: flex;
  margin-top: auto;
  margin-bottom: 1rem;
  width: 100%;
  margin-top: auto;
  justify-content: space-evenly;
  align-items: center;
}
.card__button {
  width: max-content;
  cursor: pointer;
  transition: all 0.15s linear;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  box-shadow: 0px 0px 10px 0px #6200ff;
  font-size: 1rem;
  filter: contrast(95%);
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: white;
  margin: 0;
}
.card__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400%;
  z-index: -1;
  will-change: transform;
  animation-name: efficient-gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: inherit;
  -webkit-animation-name: efficient-gradient;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: inherit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background: linear-gradient(60deg, #6200ff, #5800e6, #721aff, #4e00cc);
}
.card__button:hover, .card__button:focus {
  filter: contrast(120%);
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  height: 100%;
  background: rgba(30, 32, 42, 0.97);
}

body {
  margin: 0px;
  margin-top: 82px;
  animation: fade-in 0.2s linear;
  font-family: "Open Sans";
}
@media (max-width: 768px) {
  body {
    margin-top: 201px;
  }
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s linear;
  font-size: 1.25rem;
}
a:hover, a:focus {
  color: #6200ff;
}

p {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
  color: white;
}

.page-title {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px #dbc441;
  display: flex;
  align-items: center;
  background: #dbc441;
  z-index: 2;
}
@media (max-width: 768px) {
  .header {
    height: 169px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  padding: 0;
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
.menu__item {
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .menu__item {
    width: 100%;
    border-bottom: 1px solid black;
  }
}

.content {
  padding: 0rem;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content__label {
  font-size: 1.5rem;
}
.content__form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin-top: 1rem;
}
.content__input {
  box-shadow: 0px 0px 5px 0px #dbc441;
  border: 1px solid #dbc441;
  border-radius: 3px;
  padding: 0.25rem;
}
.content__button {
  box-shadow: 0px 0px 5px 0px #dbc441;
  background: #dbc441;
  border: 1px solid #dbc441;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
  filter: contrast(95%);
}
.content__button:hover, .content__button:focus {
  filter: contrast(120%);
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 32, 42, 0.97);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6200ff;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: rgba(30, 32, 42, 0.97);
}

/*
@import "../sass/partials/animations";
@import "../sass/partials/branding";
@import "../sass/partials/fonts";
@import "../sass/partials/mixins";
@import "../sass/partials/responsive"; */
/*
// Pages
@import "../sass/pages/Shop.scss"; 
@import "../sass/pages/Cart.scss";
@import "../sass/pages/AddProduct.scss";
@import "../sass/pages/Orders.scss";
@import "../sass/pages/ProductDetail.scss"; 
*/
.shop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.add-product {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.3s linear;
}
.add-product__page-title {
  text-align: center;
}
.add-product__form {
  max-width: 350px;
  width: 100%;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.add-product__label {
  color: white;
  font-size: 1.1rem;
}
.add-product__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  grid-gap: 0.25rem;
}
.add-product__input {
  border-radius: 4px;
  padding: 0.4rem 0.1rem;
  font-size: 1.1rem;
  border: none;
}
.add-product__button {
  margin: 0.5rem auto auto auto;
  font-size: 1rem;
  box-shadow: 0px 0px 5px 0px #dbc441;
  background: #dbc441;
  border: 1px solid #dbc441;
  border-radius: 3px;
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s linear;
  filter: contrast(95%);
}
.add-product__button:hover, .add-product__button:focus {
  filter: contrast(120%);
}