@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  margin: 0px;
  margin-top: 60px;
  animation: fade-in 0.2s linear;
  font-family: "Open Sans"; }

nav {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s linear; }

a:hover {
  color: #01BAEF; }

.page-title {
  margin: 0; }

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.05); }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.content {
  padding: 1rem; }

.content__form {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem; }

.content__input {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px; }

.content__button {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear; }

.content__button:hover {
  background: #01BAEF; }
