@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

@keyframes efficient-gradient {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  25% {
    transform: translate(-37.5%);
    -webkit-transform: translateX(-37.5%); }
  50% {
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%); }
  75% {
    transform: translateX(-37.5%);
    -webkit-transform: translateX(-37.5%); }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); } }

/*
    Slide in animation for the burger menu on the right hand side
*/
@keyframes burger-menu-slide-in {
  0% {
    left: 100%; }
  100% {
    left: calc(100% - 300px); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(4deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0deg); } }

/* 
    Background gradient effect
    This hover effect creates an efficient and smooth gradient animation
    It is currently optimized for modern browsers by avoiding repainting
    It also takes advantage of the GPU as much as possible
    To use this, pass through your linear gradient and set the z-index of the parent to at least 1
    If you want to delay this animation, pass it to the parent using an inline style
    This can be great if you're rendering a list of cards and want to delay each animation
*/
/* Responsive */
.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  box-shadow: 0px 0px 10px 0px #dbc441;
  border-radius: 4px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400%;
    z-index: -1;
    will-change: transform;
    animation-name: efficient-gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: inherit;
    -webkit-animation-name: efficient-gradient;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: inherit;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background: linear-gradient(60deg, #dbc441, #c5b03b, #dfca54, #e2d067); }
  .card__title {
    text-align: center;
    font-size: 1.5rem; }
  .card__desc {
    padding: 0.5rem 1rem; }
  .card__button {
    width: max-content;
    margin: 0.5rem auto 1.5rem auto;
    cursor: pointer;
    transition: all 0.15s linear;
    border: none;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    box-shadow: 0px 0px 10px 0px #6200ff;
    font-size: 1rem;
    filter: contrast(95%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: white; }
    .card__button:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 400%;
      z-index: -1;
      will-change: transform;
      animation-name: efficient-gradient;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: inherit;
      -webkit-animation-name: efficient-gradient;
      -webkit-animation-duration: 5s;
      -webkit-animation-delay: inherit;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      background: linear-gradient(60deg, #6200ff, #5800e6, #721aff, #4e00cc); }
    .card__button:hover, .card__button:focus {
      filter: contrast(120%); }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  height: 100%;
  background: rgba(30, 32, 42, 0.97); }

body {
  margin: 0px;
  margin-top: 60px;
  animation: fade-in 0.2s linear;
  font-family: "Open Sans";
  height: 100%; }

nav {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s linear;
  font-size: 1.25rem; }
  a:hover, a:focus {
    color: #6200ff; }

p {
  margin: 0; }

h1 {
  margin-bottom: 1rem;
  color: white; }

.page-title {
  margin: 0; }

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px #dbc441;
  display: flex;
  align-items: center;
  background: #dbc441; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }
  .menu li {
    width: 125px; }

.content {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .content__label {
    font-size: 1.5rem; }
  .content__form {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem; }
  .content__input {
    box-shadow: 0px 0px 5px 0px #dbc441;
    border: 1px solid #dbc441;
    border-radius: 3px;
    padding: 0.25rem; }
  .content__button {
    box-shadow: 0px 0px 5px 0px #dbc441;
    background: #dbc441;
    border: 1px solid #dbc441;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
    filter: contrast(95%); }
    .content__button:hover, .content__button:focus {
      filter: contrast(120%); }

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  box-shadow: 0px 0px 10px 0px #dbc441;
  border-radius: 4px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400%;
    z-index: -1;
    will-change: transform;
    animation-name: efficient-gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: inherit;
    -webkit-animation-name: efficient-gradient;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: inherit;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background: linear-gradient(60deg, #dbc441, #c5b03b, #dfca54, #e2d067); }
  .card__title {
    text-align: center;
    font-size: 1.5rem; }
  .card__desc {
    padding: 0.5rem 1rem; }
  .card__button {
    width: max-content;
    margin: 0.5rem auto 1.5rem auto;
    cursor: pointer;
    transition: all 0.15s linear;
    border: none;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    box-shadow: 0px 0px 10px 0px #6200ff;
    font-size: 1rem;
    filter: contrast(95%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: white; }
    .card__button:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 400%;
      z-index: -1;
      will-change: transform;
      animation-name: efficient-gradient;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: inherit;
      -webkit-animation-name: efficient-gradient;
      -webkit-animation-duration: 5s;
      -webkit-animation-delay: inherit;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      background: linear-gradient(60deg, #6200ff, #5800e6, #721aff, #4e00cc); }
    .card__button:hover, .card__button:focus {
      filter: contrast(120%); }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

@keyframes efficient-gradient {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  25% {
    transform: translate(-37.5%);
    -webkit-transform: translateX(-37.5%); }
  50% {
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%); }
  75% {
    transform: translateX(-37.5%);
    -webkit-transform: translateX(-37.5%); }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); } }

/*
    Slide in animation for the burger menu on the right hand side
*/
@keyframes burger-menu-slide-in {
  0% {
    left: 100%; }
  100% {
    left: calc(100% - 300px); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(4deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0deg); } }

/* 
    Background gradient effect
    This hover effect creates an efficient and smooth gradient animation
    It is currently optimized for modern browsers by avoiding repainting
    It also takes advantage of the GPU as much as possible
    To use this, pass through your linear gradient and set the z-index of the parent to at least 1
    If you want to delay this animation, pass it to the parent using an inline style
    This can be great if you're rendering a list of cards and want to delay each animation
*/
/* Responsive */
