@use "../../../scss/partials/branding" as branding;
@use "../../../scss/partials/responsive" as responsive;
@use "../../../scss/partials/mixins" as mixins;
@use "../../../scss/partials/animations" as animations;

.profile-page{

    display: flex;
    flex-direction: column;

    &__text{
        color: white;
        margin: 0.25rem auto 0.25rem auto;
        text-align: center;
    }
 
    &__image{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid branding.$brand_color_three;
        transition: animations.$standard_transition;
        margin: 1rem auto 1rem auto;

        @include mixins.state(){
            border-radius: 3px;
        }
    }

    &__link{
        color: white;
        transition: animations.$standard_transition;
        border-bottom: 2px solid white;
        padding-bottom: 0.05rem;
        width: max-content;
        margin: 0 auto 0.75rem auto;

        @include mixins.state(){
            color: branding.$brand_color_three;
            border-color: branding.$brand_color_three;
        }
    }
}