@use "../../partials/branding" as branding;
@use "../../partials/animations" as animations;

.generic-form{
    display : flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2rem);
    max-width: 350px;
    margin: auto;

    &__title{
        text-align: center;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 350px;
        grid-row-gap: 1rem;
        margin: auto;
    }

    &__field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__label{
        color: white;

        &--error{
            color: pink;
        }
    }

    &__input{
        border-radius: 4px;
        padding: 0.4rem 0.25rem;
        border: 0;
        background-color: white;
        box-shadow: branding.$button_shadow;
        transition: animations.$standard_transition;
        font-size: 1rem;

        &--error{
            border-color: pink;
            background-color: pink !important;
        }
    }

    &__submission-text{

        color: branding.$brand_color_five;
        text-align: center;
        font-size: 1.35rem;

        &--error{
            color: white;
            background-color: red;
            border-radius: 5px;
            padding: 0.35rem 0;
            width: 100%;
        }
    }
}