// Import our components, we're now using @use instead of import
// Lib sass and node-sass have been deprecated. So the library sass must be used for this
// In order to install it, run npm install sass --save-dev
// You must also make sure that you're not running the gulp-concat package as that will spoil your imports
// Without gulp-concat, you can use @use on multiple files
// I will be importing the scss files below

// Reusable components
@use "../scss/components/button";
@use "../scss/components/card";
@use "../scss/components/bubbles";
@use "../scss/components/modal";

// Globals
@use "../scss/globals/globals";
@use "../scss/globals/menu";
@use "../scss/globals/header";
@use "../scss/globals/page-layout";
@use "../scss/globals/scrollbars";

// Forms
@use "../scss/forms/form";

// Pages
@use "../scss/pages/products/product-detail";
@use "../scss/pages/shop/cart";
@use "../scss/pages/shop/orders";
@use "../scss/pages/user/profile-page";


