<%- include('../includes/header'); %>
    <body>

        <%- include('../includes/menu'); %>

        <main class="login">
            <h1><%= pageTitle %></h1>

        </main>

    </body>
<%- include('../includes/footer'); %>