<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="signup">

            <h1><%= pageTitle %></h1>

            <form class="signup__form" method="POST" action="/signup">

            </form>
            
        </main>

    </body>

<%- include('../includes/footer'); %>