<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="signup">

            <h1><%= pageTitle %></h1>

            <form class="signup__form" method="POST" action="/signup">

                <div class="signup__field">
                    <label for="nameInput" id="nameLabel" class="signup__label">Name*</label>
                    <input
                        type="text"
                        id="nameInput"
                        name="nameInput"
                        class="signup__input"
                        aria-labelledby="nameLabel"
                        placeholder="Please enter your email address"
                        autocomplete="on"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="emailInput" id="emailLabel" class="signup__label">Email Address*</label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="signup__input"
                        aria-labelledby="emailLabel"
                        placeholder="Please enter your email address"
                        autocomplete="on"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="passwordInput" id="passwordLabel" class="signup__label">Password*</label>
                    <input
                        type="password"
                        id="passwordInput"
                        name="passwordInput"
                        class="signup__input"
                        aria-labelledby="passwordLabel"
                        placeholder="Please enter your password"
                        autocomplete="on"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="secondPasswordInput" id="secondPasswordLabel" class="signup__label">Confirm Your Password*</label>
                    <input
                        type="password"
                        id="secondPasswordInput"
                        name="secondPasswordInput"
                        class="signup__input"
                        aria-labelledby="secondPasswordLabel"
                        placeholder="Please enter your password"
                        autocomplete="on"
                        required
                    />
                </div>

                <button type="submit" class="button button--yellow">Signup</button>

            </form>

        </main>

    </body>
    
<%- include('../includes/footer'); %>