@use "../scss/partials/branding" as branding;
@use "../scss/partials/mixins" as mixins;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/animations" as animations;

html{
    height: 100%;
    background: branding.$backdrop_color_one;
}

body{ 
    margin: 0px;
    margin-top: 82px;
    animation: fade-in 0.2s linear;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    transition: animations.$standard-transition;

    @include responsive.breakpoint(tablet){
        margin-top: 314px;
    }
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}  

a{ 
    text-decoration: none;
    color:rgba(0, 0, 0, 0.9); 
    transition: all 0.3s linear;
    font-size: 1rem;

    @include mixins.state(){
        color: branding.$brand_color_three;
    }
}

p{
    margin: 0;
}

h1{
    margin-bottom: 1rem;
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

.hidden{
    display: none !important;
}

.show{
    display: block !important;
}