@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/animations" as animations;
@use "../scss/partials/mixins" as mixins;
@use "../scss/partials/branding" as branding;

nav{    
    width: 100%;    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 0;

    @include responsive.breakpoint(tablet){
        flex-direction: column;
    }

    &__link{

        font-size: 15px;
        transition: animations.$standard-transition;
        border-radius: 4px;
        padding : 0.4rem 0.85rem 0.45rem 0.85rem;

        @include mixins.state(){
            background-color: branding.$brand_color_three__alt_1;
            color : rgba(0, 0, 0, 0.9);
        }
    }

    &__item{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive.breakpoint(tablet){
            width: 100%;
            border-bottom: 1px solid black;
        }
    }

    &__form{
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__logout-text{

        background-color: transparent;
        border: none;
        height: 100%;
        cursor: pointer;
        font-size: 15px;
        width: max-content;
        margin: auto;
        border-radius: 4px;
        padding : 0.4rem 0.85rem 0.45rem 0.85rem;
        transition: animations.$standard-transition;

        @include mixins.state(){
            background-color: branding.$brand_color_three__alt_1;  
        }
    }
}

.toggle-menu-button{
    position: absolute;
    z-index: 3;
    display: none;
    animation: fade-in 0.2s linear;
    cursor: pointer;

    @include responsive.breakpoint(tablet){
        
        &__show{
            display: block;
        }
    }
}

#show_menu{
    top: 20px;
    right: 20px;

    svg{
        @include mixins.state(){
            rect{
                transition: animations.$standard-transition;
                fill : branding.$brand_color_three;
            }
        }
    }


    @include responsive.breakpoint-min(tablet){
        display: none !important;
    }
}

#hide_menu{
    top: 3px;
    right: 3px;

    svg{

        transition: animations.$standard-transition;

        @include mixins.state(){
            fill : white;
        }
    }
}

.menu-open{

    margin-top: 82px;

    @include responsive.breakpoint(tablet){
        margin-top: 314px;
    }
}