@use "../scss/partials/responsive" as responsive;

nav{    
    width: 100%;    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 0;

    @include responsive.breakpoint(tablet){
        flex-direction: column;
    }

    &__item{
        width: 20%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive.breakpoint(tablet){
            width: 100%;
            border-bottom: 1px solid black;
        }
    }
}