@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;

.page-title{ 
    margin: 0;
}

.content{
    padding: 0rem;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 15px 0px branding.$brand_color_one;
    display: flex;
    align-items: center;
    background: branding.$brand_color_one;
    z-index: 2;

    @include responsive.breakpoint(tablet){
        height: 169px;
    }
}