@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/mixins" as mixins;
@use "../partials/animations" as animations;

.content{
    padding: 0rem;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 2rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    &__link{
        color: white;
        border-bottom: 2px solid white;
        transition: animations.$standard_transition;

        @include mixins.state(){
            color: branding.$brand_color_two;
            border-color: branding.$brand_color_two;
        }
    }
}

.header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 15px 0px branding.$brand_color_one;
    display: flex;
    align-items: center;
    background: branding.$brand_color_one;
    z-index: 2;

    &__logged-in{

        @include responsive.breakpoint(tablet){
            height: 173px;
        }
    }

    &__logged-out{

        @include responsive.breakpoint(tablet){
            height: 100px;
        }
    }
}

.fallback{

    display: flex;
    flex-direction: column;

    &__title{
        text-align: center;
    }

    &__link{
        text-align: center;
        color: white;
        text-decoration: underline;
        width: max-content;
        margin: auto;
    }
}