@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/mixins" as mixins;
@use "../partials/animations" as animations;

.content{
    padding: 0rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    grid-row-gap: 0.25rem; 

    &__title{
        font-size: 1.75rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    &__link{
        color: white;
        border-bottom: 2px solid white;
        transition: animations.$standard_transition;

        @include mixins.state(){
            color: branding.$brand_color_three;
            border-color: branding.$brand_color_three;
        }
    }

    &__svg{
        
        path{
            fill : white;
        }

        circle{
            fill : white;
        }

        &--error{
            margin: 1rem 0 1.5rem 0;

            path{
                fill : branding.$brand_color_four;
            }
            
            circle{
                fill : branding.$brand_color_four;
            }
        }
    }
}

.fallback{

    display: flex;
    flex-direction: column;

    &__title{
        text-align: center;
    }

    &__link{
        text-align: center;
        color: white;
        text-decoration: underline;
        width: max-content;
        margin: auto;
    }
}