@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/mixins" as mixins;
@use "../partials/animations" as animations;

.content{
    padding: 0rem;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    &__title{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    &__link{
        color: white;
        border-bottom: 2px solid white;
        transition: animations.$standard_transition;

        @include mixins.state(){
            color: branding.$brand_color_two;
            border-color: branding.$brand_color_two;
        }
    }
}

.fallback{

    display: flex;
    flex-direction: column;

    &__title{
        text-align: center;
    }

    &__link{
        text-align: center;
        color: white;
        text-decoration: underline;
        width: max-content;
        margin: auto;
    }
}