@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/mixins" as mixins;
@use "../partials/animations" as animations;


.pagination{

    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
    position: relative;

    &__link{
        color: branding.$brand_color_six;
        padding: 0.2rem 0.6rem;
        border: 1px solid branding.$brand_color_six;
        transition: animations.$standard_transition;

        &--active{
            z-index: 2;
            position: relative;
            overflow: hidden;
            color: rgba(0, 0, 0, 0.9);

            @include mixins.backgroundGradientEffect(){
                background: branding.$gradient_color_six;
            }

            @include mixins.state(){
                box-shadow: none;
                color: rgba(0,0,0,0.9);
            }
        }

        &--inactive{
            @include mixins.state(){
                box-shadow: branding.$box_shadow_cyan;
            }
        }
    }
}