@use "../scss/partials/branding" as branding;
@use "../scss/partials/responsive" as responsive;
@use "../scss/partials/mixins" as mixins;
@use "../partials/animations" as animations;


.pagination{

    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 1rem;

    &__link{
        color: branding.$brand_color_six;
        padding: 0.2rem 0.6rem;
        border: 1px solid branding.$brand_color_six;
        transition: animations.$standard_transition;

        @include mixins.state(){
            color: rgba(0, 0, 0, 0.9); 
            background: branding.$brand_color_six;
            box-shadow: branding.$box_shadow_cyan;
        }
    }
}