$brand_color_one: #dbc441;
$brand_color_two: #6200ff;

// Box shadows
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );
$button_shadow: ( 0px 0px 15px 0px rgba(0,0,0,0.2) );
$toggle_shadow: (0px 0px 10px 0px rgba(0,0,0,0.2));

// Backdrops
$backdrop_color_one: rgba(30, 32, 42, 0.97);
$backdrop_color_two: rgba(25, 27, 37, 0.97);
$backdrop_color_three: rgba(20, 22, 32, 0.97);
