$brand_color_one: #dbc441;
$brand_color_one__alt_1: #c5b03b;
$brand_color_one__alt_2: #dfca54;
$brand_color_one__alt_3: #e2d067;

$brand_color_two: #6200ff;
$brand_color_two__alt_1: #5800e6;
$brand_color_two__alt_2: #721aff;
$brand_color_two__alt_3: #4e00cc;

$brand_color_three: #41a5db;
$brand_color_three__alt_1: #3A94C5;
$brand_color_three__alt_2: #54AEDE;
$brand_color_three__alt_3: #66B7E2;

$brand_color_four: #db5d41;
$brand_color_four__alt_1: #C5533A;
$brand_color_four__alt_2: #DE6D54;
$brand_color_four__alt_3: #E27D66;

$brand_color_five: #58db41;
$brand_color_five__alt_1: #4fc53a;
$brand_color_five__alt_2: #68de54;
$brand_color_five__alt_3: #79e267;


// Box shadows
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );
$button_shadow: ( 0px 0px 15px 0px rgba(0,0,0,0.2) );
$toggle_shadow: (0px 0px 10px 0px rgba(0,0,0,0.2) );
$box_shadow_white: ( 0px 0px 10px 0px rgba(255, 255, 255, 0.9) );
$box_shadow_yellow: (0px 0px 10px 0px $brand_color_one);
$box_shadow_purple: (0px 0px 10px 0px $brand_color_two);

// Backdrops
$backdrop_color_one: rgba(30, 32, 42, 0.97);
$backdrop_color_two: rgba(25, 27, 37, 0.97);
$backdrop_color_three: rgba(20, 22, 32, 0.97);

// Gradients
$gradient_color_one: linear-gradient(60deg, $brand_color_one, $brand_color_one__alt_1, $brand_color_one__alt_2, $brand_color_one__alt_3);
$gradient_color_two: linear-gradient(60deg, $brand_color_two, $brand_color_two__alt_1, $brand_color_two__alt_2, $brand_color_two__alt_3);